@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: Nunito, 'sans-serif';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: Nunito;
  src: url('../fonts/Nunito-VariableFont_wght.ttf');
}
body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Nunito", Arial, sans-serif;
}

:root {
  /*pill*/
  --pill-bg: #FFF7ED;
  --pill-border: #7c2d12;
  --pill-text: #ea580c;
  --pill-dot: #ea580c;
  
  /*Default tailwindCss*/
  --background: #ffffff;
  --foreground: #171717;

  /* Фоны */
  --bg-primary: #0f1213;
  --bg-secondary: #1a1e1f;
  --bg-tertiary: #242829;

  /* Бордеры */
  --border: #404749;
  --border-subtle: #2c3133;

  /* Акцент */
  --accent: #ea580c;
  --accent-hover: #c2410c;
  --accent-bg: #2d1a0e;
  --accent-border: #7c2d12;

  /* Текст */
  --text-primary: #f5f0eb;
  --text-secondary: #9ba3a6;
  --text-muted: #5c6568;
}
